.account-switch-slider .owl-stage {
  padding-left: 0px !important;
}


.account-switch-slider .owl-theme .owl-dots .owl-dot, 
.account-switch-slider .owl-theme .owl-dots .owl-dot.active {
  outline: none;
  border: none
}
.account-switch-slider .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3);
}
.account-switch-slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}
